@page "/"

<h1>Home</h1>

<p>
    Easily calculate ranges of recurring dates based on patterns such as every 3 days, every Friday, every third Tuesday of every second month, in an intuitive
    and flexible way.
</p>
